<div class="card">
  <span class="target">User Registered Male/Female</span>
  <!-- <ngx-charts-pie-chart [view]="[360, 260]" [results]="single" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)">
    </ngx-charts-pie-chart> -->

  <ngx-charts-pie-chart [view]="[380, 283]" [results]="single" [legendTitle]="legendTitle" [gradient]="gradient"
    [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
    (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
  </ngx-charts-pie-chart>


</div>

<!-- <tbody>
  <tr *ngFor="let row of data ; let i=index">
    <td> {{single.name}} </td>
    <td> {{single.value}}</td>
  </tr>
</tbody> -->



<!-- *ngFor="let subscriber of sex" -->
<!-- {{single.name}} ||| {{single.value}} -->
<!-- {{single.name}}  -->
<!-- [results]="single" -->

<!-- style="margin-left: -18px;" -->
<!-- width: 200px;
    height: 299px;
    margin-top: 73px; -->