<div class="card">
  <span class="target">User Registered Male/Female</span>
  <!-- <ngx-charts-pie-chart [view]="[360, 260]" [results]="single" [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)">
    </ngx-charts-pie-chart> -->
 
    <ngx-charts-pie-chart  
   [view]="[380, 317]"
   [results]="single" 
   [legendTitle]="legendTitle"
   [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
     [labels]="showLabels"
      [doughnut]="isDoughnut" 
      (select)="onSelect($event)"
    (activate)="onActivate($event)" 
    (deactivate)="onDeactivate($event)">
  </ngx-charts-pie-chart>
</div>

<!-- style="margin-left: -18px;" -->
<!-- width: 200px;
    height: 299px;
    margin-top: 73px; -->
